# Logs
logs
*.log

# Dependency directories
node_modules/
tmp
# Environment variables
.env

# Build output
dist/
build/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Terraform files
**/*.tf
**/*.tfvars
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup

terraform/.terraform